<div class="col-md-4 col-sm-6 mt-1">
    <div class="card">
        <img alt="Consciência Quântica"
            src="https://img.bertrand.pt/images/consciencia-quantica-amit-goswami/NDV8MjM5MzU3MTN8MTk5NjU0NjF8MTU4ODExNDgwMDAwMA==/175x&amp;ctx=0"
            class="img-responsive lazy ">

        <div class="card-body">
            <div class="price">10,00€</div>
            <div class="title">Consiencia Quantica  <%- books.length %></div>
            <div class="auther">De Pedro Pereira</div>
        </div>
    </div>
</div>